#currentCommandsDisplay{
    text-align:center;
    font-size:18px;
    font-weight: bold;
}

#commandButton{
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    font-size:18px;
    font-weight: bold;
}

#container{
    position: absolute;
    top: 35%;
    left: 17%;
}